# Files #
.classpath
.project
*.ear
*.jar
*.war
*.zip
*.orig
*.class
.version
.metadata
.settings
obj
.idea
*.iml
*.iws
.recommenders
*.log
hs_err_pid*

# Folders #
.idea/
.settings/
.studio/
.svn/
bin/
mappings/
target/
tmp/

